@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* Animation from left to right for .options*/
@keyframes example {
    from {
        margin-right: 100%;
        width: 15%;
    }
    to {
        margin-right: 0%;
        width: 100%;
    }
}
/* Animation from top to bottom for .history*/
@keyframes example2 {
    from {
        margin-bottom: 100%;
        height: 15%;
    }
    to {
        margin-top: 0%;
        height: 70%;
    }
}
/* In order to reload this animation we have to remove this 
class and the add it again */
.animation{
    overflow:visible;
    animation-name: example;
    animation-duration: 0.3s;
}
.animation2{
    overflow:visible;
    animation-name: example2;
    animation-duration: 0.3s;
}
/* Minimize action classes*/
.minimize{
    display:none !important;
    height:"0%" !important;
}
.minTitleBar{
    height:100% !important;
}
.minimizeCalc{
   /* This works but it shouldn't, it works weird*/
   min-height: var(--minimized-sizeY-calc) !important;
   height: var(--minimized-sizeY-calc) !important;
   resize: false !important;
}

/* Color and fonts variables*/
@media only screen and (max-width: 600px) {
    .calc{
        width: 85% !important;
        height: 580px !important;
        left:10px !important;
        top:50px !important;
        min-width: var(--min-sizeX-calc);
        min-height: var(--min-sizeY-calc);
    }
    #sticker{
        bottom: 0%;
        right:0%;
        width: 20%;
        font-size: 1em;
    }
 }
:root{
    --min-sizeX-calc:325px;
    --min-sizeY-calc:539px;
    /* This is the height of calc when add minimizeCalc class */
    --minimized-sizeY-calc: 539*0.1;

    --bg-color: rgb(188,221,236);
    --op-color: rgb(216,235,243);
    --num-color: rgb(242,248,250);
    --eq-color: rgb(77,159,221);
    --hover-color: rgb(182,208,219);

    --menu-color: rgb(224,231,235);
    --menu-hover-color: rgb(206,212,216);

    --past-font-size: 1.5em;
    --present-font-size: 3.4em;
}
* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}
body{
    background: #fdeaea;
}
/* we need an invisible border, if not this moves on hover bc there is no previous border */
img{
    border: 1px solid rgb(0,0,0,0);
}
img:hover{
    background: var(--hover-color);
    border: 1px solid #000000;
}
/* calculator main content */
.calc {
    width: var(--min-sizeX-calc);
    height: var(--min-sizeY-calc);
    min-width: var(--min-sizeX-calc);
    min-height: var(--min-sizeY-calc);
    border: 1px solid #000000;
    box-shadow: 3px 5px 15px #888888;
    background: var(--bg-color);
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left:0%;
    resize: both;
    /*overflow: auto;*/    
    overflow: hidden;
}
/* top half */
.up{    
    height: 30%;
    padding: 5px 10px;
}
#titleBar{
    height: 8%;
    display: grid;
    grid-template-columns: 6fr 6fr repeat(3, 1fr);
}
#title{    
    cursor: grab;
}
#title:active{
    cursor:grabbing;
}
.menu{
    height: 7.35%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    cursor: pointer;
}
#spacer{
    grid-column: 2 / span 2;
}
/* start collapsable */
#options{
    background: var(--menu-color);
    border: 1px solid #000000;
    margin: 0;
    width: 100%;
    position:relative;
    z-index: -1;
    grid-column: 1 / span 2;
    padding:5px;
}
.option{
    cursor: pointer;
    font-variant: small-caps;
    margin:10px;
    overflow-x: hidden;
}
.option.pOption{
    overflow-x: hidden;
}
div.option:hover{
    background-color: var(--menu-hover-color);
}
/* end collapsable */
/* start collapsable history */
#history{
    background: var(--menu-color);
    border: 1px solid #000000;
    margin: 0;
    width: 90%;
    height : 70%;
    position:absolute;
    bottom:0;
    text-align: right;
    z-index: -1;
    grid-column: 3 / span 2;
}
.record{
    margin-right:10px;
    margin-left:10px;
    font-variant: small-caps;
}
/* end collapsable */

.display{
    text-align: right; 
}
#past {
    height: 30%;
    letter-spacing: -5px;
    font-size: var(--past-font-size);    
    overflow-x: auto; 
}
#present{
    height: 70%;
    font-weight: 600;
    font-size: var(--present-font-size);
    overflow-x: auto;
}
/* bottom half */
.down {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 62%;
}
.button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
}
/* button that isn't an int */
.op{    
    border: 10px var(--bg-color);
    background: var(--op-color);
}
/* int button */
.num{
    background: var(--num-color);
}
div.op:hover, div.num:hover{
    background: var(--hover-color);
}
/* equals button */
.eq{
    background: var(--eq-color);
}
/* END CALCULATOR */
/* github sticker */
a{
    text-decoration: none;
}
#sticker{
    background-color: rgba(235,235,235, 0);
    position: fixed; 
    bottom: 15% ;
    right:0%;
    width: 50%;
    font-size: 2em;
}